* {
  margin: 0;
  padding: 0;
}

.card {
  margin: 10px;
  transition: 1s;
  cursor: default;
  border: 1px solid rgb(71, 71, 71);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

.card:hover {
  transform: scale(1.04);
}

.card-title {
  color: rgb(65, 63, 63);
  /* text-transform: uppercase; */
  font-weight: bolder;
}

.card-text {
  color: #5b1a00;
  font-weight: bold;
}
.card-link {
  color: orange !important;
  font-weight: bold;
}

.card-link:hover {
  color: rgb(250, 31, 31) !important;
}
