* {
  margin: 0;
  padding: 0;
}

.card {
  margin: 10px;
  transition: 1s;
  cursor: default;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  /* background-color: #000000; */
  border-radius: 20px;
  height: 95%;
}

/* .card:hover {
  transform: scale(1.04);
} */

.card-title {
  color: var(--future_pink);
  /* text-transform: uppercase; */
  font-weight: bolder;
}

.card-text {
  color: var(--future_white);
}

.card-link {
  color: var(--future_pink) !important;
  font-weight: bold;
}

.card-link:hover {
  /* cursor: pointer; */
  color: rgb(250, 31, 31) !important;
}