.hey {
  color: var(--primary) !important;
  text-align: justify;
  font-weight: 350;
}

.number {
  text-decoration: none !important;
  color: var(--primary);
  transition: 0.3s;
}

.heading,
.number {
  margin-left: 10px;
}

.number:hover {
  color: var(--primary);
}

.iconlink {
  color: white;
}

.icon {
  color: var(--secondary);
  transform: scale(1.7);
  transition: 0.3s;
  margin-right: 50px;
}

.icon:hover {
  color: var(--primary);
  /* cursor: pointer; */
}

.form-group label {
  text-align: left;
  float: left;
  margin-left: 10px !important;
}

.submitbtn {
  color: white !important;
}

.submitbtn:hover {
  color: black !important;
}

.form-group .btn {
  color: black !important;
}

.form-control {
  border: none;
  border-bottom: 1px solid var(--secondary);
  border-radius: 0 !important;
  transition: 0.1s;
}

.form-control:focus {
  box-shadow: none;
  border-bottom: 1px solid var(--primary);
  outline: 0;
}

.btn:hover {
  background-color: var(--secondary) !important;
  border: 1px solid var(--secondary) !important;
}