.h1 {
  font-size: 8em;
}
.error {
  font-size: 120px;
  text-align: justify;
}

.h2 {
  text-align: justify;
}

@media screen and (max-width: 768px) {
  .mt-3 {
    display: none;
  }
  .leftcontainer,
  .rightcontainer {
    width: 100%;
  }
}
