@import url("https://fonts.googleapis.com/css2?family=Hahmlet&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.leftcontainer {
  width: 50%;
}

.rightcontainer {
  width: 50%;
  font-family: "Hahmlet", serif;
  transition: 1s;
}

.rightcontainer center p {
  text-align: justify;
  line-height: 1.6;
}

.marginanim {
  animation: anim 2.4s infinite;
  padding-top: 10px;
}

#hey {
  color: var(--primary) !important;
  font-weight: 2000;
  line-height: 1.2;
  text-align: left;
}

.btn {
  border: 2px solid var(--primary) !important;
  padding: 10px 20px;
}

.btn:hover {
  color: black !important;
  background-color: var(--primary) !important;
}

.titleproj {
  color: var(--primary);
  text-decoration: none;
  font-size: 3rem;
  margin-left: 20px;
}

@keyframes anim {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.scrolldown-wrapper {
  left: 50%;
  text-align: center;
  bottom: 0;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.scrolldown {
  border: 2px solid #FFFFFF;
  border-radius: 30px;
  height: 46px;
  margin: 0 auto 8px;
  text-align: center;
  width: 30px;
}

.scrolldown-p1,
.scrolldown-p2 {
  animation-duration: 1.5s;
  animation-name: scrolldown;
  animation-iteration-count: infinite;
  fill: #FFFFFF;
}

.scrolldown-p2 {
  animation-delay: .75s;
}

@keyframes scrolldown {
  0% {
    opacity: 0;
    transform: translate(0, -8px);
  }

  50% {
    opacity: 1;
    transform: translate(0, 0);
  }

  100% {
    opacity: 0;
    transform: translate(0, 8px);
  }
}

/* ******* MEDIA QUERIES ******** */

@media screen and (max-width: 768px) {
  .marginanim {
    animation: none;
  }

  .leftcontainer,
  .rightcontainer {
    width: 100%;
  }
}