* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-white: #fff;
}

.logoimg {
  margin-left: 20px;
}

nav {
  box-shadow: 0 10px 7px -6px #777;
}

.navbar-brand {
  font-weight: 600;
  font-size: 1.5rem;
  color: orange !important;
}

.nav-link {
  font-weight: 500;
  letter-spacing: 0.0475rem;
  margin: 3px;
}

.nav-link {
  text-transform: uppercase;
  color: var(--primary-white) !important;
  transition: 0.5s;
}

.nav-link:hover {
  color: orange !important;
  cursor: pointer;
}
