* {
  margin: 0;
  padding: 0;
}

.logoimg {
  margin-left: 20px;
}

/* .bg-dark
{
  background-color: #000000 !important;
} */
/* nav {
  box-shadow: 0 10px 7px -6px #000000;
} */

.navbar-brand {
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--future_pink) !important;
}

.nav-link {
  font-weight: 500;
  letter-spacing: 0.0475rem;
  margin: 3px;
}

.nav-link {
  text-transform: uppercase;
  color: #fff !important;
  transition: 0.5s;
}

.nav-link:hover {
  color: var(--future_pink) !important;
  cursor: pointer;
}

.active_class {
  color: var(--future_pink) !important;
}