@charset "UTF-8";

:root {
  --primary: #4169E1;
  --secondary: #ffffff;
}


* {
  font-family: "Hahmlet", serif;
}

html {
  font-size: 16px;
}

body {
  overflow-y: scroll;
  scroll-behavior: smooth;
  background-color: #000000 !important;
  color: #ffffff !important;
  font-size: 1rem;
  line-height: 1.5;
}

.active {
  color: var(--primary) !important;
}

.primary {
  color: var(--primary);
}

.secondary {
  color: var(--secondary);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.custom-navbar {
  background-color: #000000;
}