/* @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Colors used for the site */
:root {
    --background: #FFFFFF;
    --paragraph: #C0C0C0;
    --heading: #A9A9A9;
    --util: #000000;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}