@tailwind base;
@tailwind components;
@tailwind utilities;


/* Colors used for the site */
:root {
    --background: #FFFFFF;
    --paragraph: #C0C0C0;
    --heading: #A9A9A9;
    --util: #000000;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}